*{
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: rgba(10, 0, 39, 0.962);
    color: white;
    
}

/* body{
    width: 100%;
    overflow-x: hidden;
} */

:root{
    --fs-xl: clamp(1.5rem, 3vw + 0.75rem, 3rem); 
    --fs-600:clamp(1rem, 2.5vw + 0.5rem, 2rem);
    --fs-200: clamp(0.5rem, 1vw + 0.25rem. 1rem);
    --main-organge:rgb(255, 115, 0);
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(10, 0, 39, 0.852);
}

.logo{
    padding:40px 100px;
    color:var(-main);
    font-weight: 800;
    font-size: 2.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.menu-icon img{
    filter: invert(100%);
    display: none;
}

.nav-bar{
    display: flex;
    gap: 35px;  
    padding:40px;
    
}

.nav-bar a {
    color:white;
    font-weight: 550;
    font-size: rem;
    opacity: 0.9;
}


.home-text h1{
    font-size: var(--fs-xl);
    color: var(--main-organge);
}

.home-text h2{
    font-size: var(--fs-600);
    color: white;
    margin-top: 0.5rem;
}

.home{
    width: 100%;
}

.btn{
    background-color:var(--main-organge);
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    margin-top: 1.5rem;
    
}

.home{
    display: flex;
    width: 100%;
    gap: 70px;
    padding: 40px 10%;
    align-items: center;
    flex-wrap: wrap;
}

.home .home-img,
.home .home-text{
    flex-grow: 1;
    flex-basis: 0; /* To ensure equal distribution */
    max-width: 50%; /* Optional: to prevent items from growing beyond 50% */
    align-items: center;
    
}

.home-img img{
    width: 100%;
    min-width: 250px;
    max-width: 500px;
    
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr); /* Two columns each taking up 50% of width */
    gap: 1.5rem; /* Adjust gap between the columns */
    align-items: center;
  }
.about-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}

.about-text{
    padding-inline:5vw;
}
.about span{
    font-size:var(--fs-200);
    font-weight: 700;
    color: var(--main-organge);
}

.about h2{
    font-size: var(--fs-600);
}

.about p{
    line-height: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1vh;
}

@media screen and (max-width: 670px){
    .nav-bar{
        display: none;
    }
    .logo{
        padding-left: 0;
    }
    .home{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      

    }
    .home .home-text{
        text-align: center;
        width: 100vw;
        margin: 0 auto;
    }
   
}

@media screen and (max-width: 500px){
    .home .home-img{
      margin-left:12%; 
    }
}